**/.DS_Store
**/.DS_Store?
**/.vscode
**/.vscode?
**/.obsidian
**/.obsidian?
**/.idea
**/.idea?
book
bin
*.code-workspace
# Rust build artifacts
**/target/
**/*.rs.bk
**/*.rmeta
**/*.rlib
Cargo.lock

# Ignore contributors index file to prevent watch loops
theme/contributors/contributorsindex.js
theme/tags/tagsindex.js
