<h1>Contributors</h1>
<p>This is the current list of individuals who have made substantial contributions to the project and deserve
    recognition.</p>

{% for group in contributor_groups %}
<div class="contributors-group {{ group.label | lower | replace(' ', '-') }}-group">
    <h2>{{ group.label }}</h2>
    <div class="contributors-list">

        {% for c in group.contributors %}
        <div class="contributor-card" id="{{ c.name | lower | replace(' ', '-') | replace('[^a-z0-9_-]', '') }}">

            <img class="contributor-avatar" src="{{ c.avatar }}" alt="{{ c.name }}'s avatar" loading="lazy">

            <div class="contributor-header">
                <div class="contributor-name">{{ c.name }}</div>
                <span class="contributor-badge steward-badge">
                    {{ "Steward" if "steward" in c.features and group.label | lower == "core contributors" }}
                </span>
            </div>

            <div class="contributor-company">
                {{ c.company }}
            </div>

            <div class="contributor-role">
                {{ c.role }}
            </div>

            <div class="{{ 'contributor-role' if 'featured' in c.features else 'contributor-description' }}">
                {{ c.description }}
            </div>

            <div class="contributor-social">
                <a href="{{ c.github }}" target="_blank" class="social-icon" title="{{ c.name }}'s GitHub">
                    <i class="fa fa-github"></i>
                </a>
                <a href="{{ c.twitter }}" target="_blank" class="social-icon" title="{{ c.name }}'s Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="{{ c.website }}" target="_blank" class="social-icon" title="{{ c.name }}'s Website">
                    <i class="fa fa-globe"></i>
                </a>
            </div>

        </div>
        {% endfor %}

    </div>
</div>
{% endfor %}