<!-- WITH GITHUB LINK -->
<a href="GITHUB_URL_PLACEHOLDER" target="_blank" class="contributor CONTRIBUTOR_ID_PLACEHOLDER with-avatar" style="background-image: url('AVATAR_URL_PLACEHOLDER');">CONTRIBUTOR_NAME_PLACEHOLDER</a>

<!-- WITHOUT GITHUB LINK -->
<span class="contributor CONTRIBUTOR_ID_PLACEHOLDER with-avatar" style="background-image: url('AVATAR_URL_PLACEHOLDER');">CONTRIBUTOR_NAME_PLACEHOLDER</span>

<!-- WITHOUT AVATAR -->
<span class="contributor CONTRIBUTOR_ID_PLACEHOLDER">CONTRIBUTOR_NAME_PLACEHOLDER</span> 