.sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.sidebar-logo img {
    max-width: 80%;
    height: auto;
}

.left-buttons {
    position: relative;
}

#sidebar .sidebar-scrollbox {
    overflow-y: scroll;
    /* Force Show scrollbars */
}

/* Colored Tag Span. Displayed at the top of tagged pages */
.colored-tag {
    background-color: var(--tag-color);
    margin: 0 5px 10px 0;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.colored-tag i {
    margin-right: 5px;
}

/* Tag Search Styles */
.tags-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--sidebar-bg);
    border: 1px solid var(--sidebar-fg);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    min-width: 200px;
    margin-top: 5px;
}

#tag-search {
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid var(--searchbar-border-color);
    border-radius: 3px;
    background-color: var(--searchbar-bg);
    color: var(--searchbar-fg);
}

.tags-list {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-color: var(--sidebar-fg) var(--sidebar-bg);
}

.tags-list li {
    padding: 5px 0;
}

.tags-list li:hover {
    color: var(--sidebar-active);
}

.tags-list label {
    display: flex;
    align-items: flex-start;
}

.tags-list input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 4px;
}

#sidebar.filtered .chapter-item:has(> *:not(.selected)) {
    display: none;
}

.announcement-stripe {
    background-color: #ff00004f;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    z-index: 1000;
}

.announcement-stripe p {
    margin: 0;
}

@media (max-width: 768px) {
    .announcement-stripe p {
        display: flex;
        flex-direction: column;
    }

    .announcement-stripe p span {
        display: block;
    }
}

/* Add this new style for the sidebar */
#sidebar {
    z-index: 1001;
    /* Higher z-index than the announcement stripe */
}