.tag.operations--strategy { background-color: #9A055D; }
.tag.dao { background-color: #5112C1; }
.tag.whitehat { background-color: #571A70; }
.tag.legal--compliance { background-color: #0525B1; }
.tag.sre { background-color: #2E51BA; }
.tag.sealinitiative { background-color: #4339db; }
.tag.finance { background-color: #005ED7; }
.tag.hr { background-color: #285AD2; }
.tag.devops { background-color: #5C234A; }
.tag.cloud { background-color: #0873B5; }
.tag.community--marketing { background-color: #5B2371; }
.tag.engineerdeveloper { background-color: #B2439F; }
.tag.protocol { background-color: #495EA9; }
.tag.security-specialist { background-color: #9F2026; }
