.theme-toggle-container {
  border: 1px solid var(--vocs-color_border, #e5e7eb);
  border-radius: var(--vocs-borderRadius_round);
  display: flex;
  gap: 8px;
  padding: 4px;
  background-color: #0e0d0f;
  z-index: 9999;
  bottom: calc(30px - var(--vocs_Banner_bannerHeight, 30px));
  position: fixed;
  left: 200px;
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vocs-color_text4, #6b7280);
  transition: color 0.2s ease;
}

.theme-toggle-button:hover {
  color: var(--vocs-color_textHover, #374151);
}

.theme-toggle-button.active {
  color: var(--vocs-color_textHover, #374151);
}

.theme-toggle-button svg {
  width: 16px;
  height: 16px;
}


.dark .theme-toggle-button {
  color: var(--vocs-color_text4, #9ca3af);
}

.dark .theme-toggle-button:hover {
  color: var(--vocs-color_textHover, #f9fafb);
}

.dark .theme-toggle-button.active {
  color: var(--vocs-color_textHover, #f9fafb);
}

:root:not(.dark) .theme-toggle-container {
  background-color: #f9f9f9;
}

@media (max-width: 1080px) {
  .theme-toggle-container {
    top: calc(7px + var(--vocs_Banner_bannerHeight, 0px));
    left: clamp(20px, 85%, 950px);
    bottom: unset;
  }
}

@media (max-width: 700px) {
  .theme-toggle-container {
    position: fixed !important;
    top: calc(7px + var(--vocs_Banner_bannerHeight, 0px));
    left: clamp(20px, 75%, 850px);
    bottom: unset;
  }
}

@media (max-width: 415px) {
  .theme-toggle-container {
    top: calc(7px + var(--vocs_Banner_bannerHeight, 0px));
    left: clamp(20px, 65%, 850px);
    bottom: unset;
  }
}

@media (max-width: 305px) {
  .theme-toggle-container {
    display: none;
  }
}