.vocs_NavLogo_logoImage {
    height: 80% !important;
}



.vocs_DocsLayout_gutterLeft {
    justify-content: flex-start;
    width: unset;
}

@media (max-width: 1650px) {
    .vocs_DocsLayout_gutterRight {
        justify-content: flex-end;
        width: calc(100vw - var(--vocs-content_width) - var(--vocs_DocsLayout_leftGutterWidth));
    }
}

.vocs_DesktopTopNav_logoWrapper {
    display: none;
}

:root:not(.dark) .vocs_DocsLayout {
    color: #060606;
}
:root:not(.dark) .vocs_Sidebar_item {
    color: #060606;
}
:root:not(.dark) .vocs_Blockquote>.vocs_Paragraph {
    color: #0706069e;
    font-weight: bolder;
}
:root:not(.dark) .vocs_Blockquote {
    color: #060606;
}

.vocs_Sidebar_footerContent{
    margin-bottom: calc(10px + var(--vocs_Banner_bannerHeight, 0px));
}